html,body {
  margin: 0;
}

#app{
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'Hsua-Tai';
  src: url(#{$share-image-path}fonts/Hsua-Tai.ttf) format('truetype');
}

html, body, input[type="text"], textarea {
  font-family: Hsua-Tai !important;
}

html, body, input[type="text"], textarea {
  font-family: 'Microsoft YaHei', \\5FAE\8F6F\96C5\9ED1, Helvetica, Arial, sans-serif, Hsua-Tai;
}

.app-wrapper{
  height: 100%;
  position: relative;
}

.app-body {
  position: relative;
  //margin-top: #{$header-height};
  height: calc(100% - #{$header-height});
}

.app-content-wrapper{
  height: 100%;
  margin-left: #{$left-width};
  box-sizing: border-box;
  overflow: auto;
  //background-color: #F0F0F7;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}